
#!/usr/bin/dumb-init /bin/bash

##
##  --main_command              The main command to run. (default: runit)
##
##  --skip-startup-files        Skip running {{container_init_directory}}/* and /etc/rc.local
##
##  --skip-runit                Do not run runit services

options=(main_command skip-startup-files skip-runit)

source /easyoptions.sh || exit

echo "Note: commands support 2BD"

echo "Running any available init scripts:"
find {{container_init_directory}} -name "*.sh" -print0 | while read -d $'\0' file
do
  echo " -- Running $file..."
  chmod +x $file
  eval "$file"
done

echo "Running RUnit daemon"
eval "/usr/bin/runsvdir -P /etc/service"
