
#!/usr/bin/dumb-init /bin/bash

echo "Running any available init scripts:"
find {{container_init_directory}} -name "*.sh" -print0 | while read -d $'\0' file
do
  echo " -- Running $file..."
  chmod +x $file
  $file
done

$1 $2 $3 $6 $7 $8 $9 $10 $11 $12

#echo "Starting supervisor"
#supervisord -c /config/supervisor.ini